@page
@model CompanyDb.Pages.DepartmentsStores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentStore[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentStore[0].Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DepartmentStore) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DepartmentStoreID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DepartmentStoreID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DepartmentStoreID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
